body{
    background: #333333;
    display: flex;
    margin-top: 60px;
}
#cadre{
    border: 2px solid #242424;
    width: 700px;
    height: 700px;
    margin: auto;
    box-shadow: 2px 2px 5px #1d1d1d;
    background-color: #333;
!important z-index: 9999;

}
.aig{
    position: absolute;
    bottom: 283px;
    transform-origin: bottom center;

}

#horloge{
    position: relative;
    height: 568px;
    width: 567px;
    border: 3px solid white;
    border-radius: 284px;
    background-color: orange;
    margin: auto;

}
    #btnAll{
   position: absolute;
   margin-top: 750px;
   margin-left: 470px;


}
#btn{
    width: auto;
    height: 100px;
    transition: transform .4s ease;
    padding: 10px;
    background-color: #333;
    border: none;
    color: white;
    margin: auto;
}
#btn1{
    width: auto;
    height: 100px;
    transition: transform .4s ease;
    padding: 10px;
    margin: auto;
    background-color: #333;
    border: none;
    color: white;
    transform: scale(1);

}
#btn1:active, #btn:active{
    transform: scale(.97);
    transition: transform .2s;
    background-color: orange;
    color: white;
    border-style: none;

 }
#btn1:hover, #btn:hover{
    background-color: orange;
    color: white;
    border-style: none;

}